:root {
    --seccolor-1: rgb(87, 196, 87);
    --seccolor-2: rgb(109, 182, 109);
  }



/*--------------------------------------------------------------
# Top
--------------------------------------------------------------*/
/* link que ainda não foi visitado */
.nav-item a:link {
  color: rgb(255, 255, 255) !important;
}

.nav-item a:hover {
  color: #92da96 !important;
}

.icon-top a {
  font-size: 20px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}



#menu {
    background-color: rgba(0,0,0,0) !important;
    padding: 1.5rem 1rem;
    transition: all 500ms linear;
  }

  #imagem img {
    height: 100px;
  }
  #menu.ativo {
    background-color: rgba(0,0,0,0.8) !important;
    padding: .1rem 1rem;
  }

  #imagem.ativo img {
      height: 60px;
  }

  #logo-details img {
    height: 60px;
  }

  #menu-details {
    background-color: rgba(0,0,0,0.8) !important;
    padding: .1rem 1rem;
  }
  .perfil img {
    border-radius: 50%;
    border: 2px solid  var(--seccolor-2);
    margin-bottom: 32 px;
    
  }

  .text-variavel {
      color: var(--seccolor-1);
  }

header.masthead {
    height: 100vh;
    display: flex;
	  justify-content: center;
	  align-items: center;
    text-align: center;
    color: #fff;
    background-image: url("../img/top.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 80%;
    background-size: cover;
  }

  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 900;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.list-title {
   margin-top: 50px; 
   margin-bottom: 8px; 
   color: rgb(39, 126, 53);
  }

.skills .box {
    background: #f2f8f2f1;
    border: 1px solid  #c1eec3;
    height: 33rem;
   
}

.skill-icon img {
    height: 45px;
    padding-top: 0px;
    object-fit: cover;
}

/*=== Configurações Gerais ===*/
.underline {
  content: '';
  border-top: 2px solid var(--seccolor-1);;
  width: 70px;
  display: block;
  margin-bottom: 8px;
  margin: 0 auto;
}

  /*=== Footer ===*/
.credits a{
  color: rgb(5, 90, 30);
}




















